<body style="background-color: #8e476c">
<div style="color: #ffc000; background-color: #8e476c;padding-right: 3%; padding-left: 3%;">

<h1>Usuarios Registrados</h1>

<table class="table" style="background-color: #8e476c">
  <thead>
    <tr>
      <th>Nombre Completo</th>
      <th>Fecha Nacimiento</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="border: 0 solid #ffc000">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombre_completo %></td>
        <td><%= user.fecha_nacimiento %></td>
        <td><%= user.perfil.nombre %></td>
        <% if user_signed_in? && current_user.perfil_id == 1%>
        <td><%= link_to raw("<i class='material-icons'>edit</i>"), edit_user_path(user),style: "color: #ffc000;" %></td>
        <td><%= link_to raw("<i class='material-icons'>delete</i>"), user, method: :delete,style:"color: #ffc000;", data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
<% if user_signed_in? && current_user.perfil_id==1%>
<%= link_to 'Crear un usuario', new_user_path,class: "nav-link btn new_btn2",style:"width: 95%; margin-left:2%;" %>
<%end%>
</body>