<table style="margin-left:15%; margin-top: 2%;">
  <tbody>
    <tr>
      <td>
        <div style="border: 5px solid #470d26;color: white;" id="piechart"></div>
      </td>
      <td>
        <div style="border: 5px solid #470d26;" id="piechart2"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="border: 5px solid #470d26" id="piechart3"></div>
      </td>
      <td>
        <div style="border: 5px solid #470d26" id="piechart4"></div>
      </td>
    </tr>
  </tbody>
</table>
<!-- mensuales -->
<script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(<%= raw @aux %>);

        var options = {
          title: 'Donaciones en este mes <%= number_to_currency(@total_mes) %>',  
          width: 500,
          height: 300,
          backgroundColor: '#b2537c',
          is3D: true,
          titleTextStyle: {color: '#ffc000'},
          legend: {textStyle: {color: '#ffc000'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

      }
</script>
<script type="text/javascript">

      //proyectadas
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mes');
        data.addColumn('number', 'Dinero a donar');

        data.addRows(<%= raw @aux3 %>);

        var options = {
          title: 'Donaciones proyectadas por mes',
          width: 500,
          height: 300,
          backgroundColor: '#b2537c',
          is3D: true,
          titleTextStyle: {color: '#ffc000'},
          legend: {textStyle: {color: '#ffc000'}},
          hAxis: {
            title: 'Mes',
            titleTextStyle: {color: '#ffc000'},
            legend: {textStyle: {color: '#ffc000'}},
          
          },
          vAxis: {
            title: 'Monto ($)',
            titleTextStyle: {color: '#ffc000'},
            legend: {textStyle: {color: '#ffc000'}},
          }
        };

        var chart = new google.visualization.ColumnChart(
          document.getElementById('piechart2'));

        chart.draw(data, options);
      }
</script>
<script type="text/javascript">
      // por usuario proyectadas
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable(<%= raw @aux2 %>);

        var options = {
          title: 'Donaciones totales a la fecha <%= number_to_currency(@total_donaciones) %>',
          width: 500,
          height: 300,
          backgroundColor: '#b2537c',
          titleTextStyle: {color: '#ffc000'},
          is3D: true,
          legend: {textStyle: {color: '#ffc000'}},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

        chart.draw(data, options);
      }
</script>
<script type="text/javascript">
      //actividades
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);

      function drawBasic() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Mes');
        data.addColumn('number', 'Actividades');

        data.addRows(<%= raw @aux4 %>);

        var options = {
          title: 'Actividades proyectadas por mes',
          width: 500,
          height: 300,
          backgroundColor: '#b2537c',
          titleTextStyle: {color: '#ffc000'},
          legend: {textStyle: {color: '#ffc000'}},
          hAxis: {
            baselineColor: 'red',
            title: 'Mes',
            titleTextStyle: {color: '#ffc000'},
            legend: {textStyle: {color: '#ffc000'}},
            
          },
          vAxis: {
            title: 'Cantidad',
            titleTextStyle: {color: '#ffc000'},
            legend: {textStyle: {color: '#ffc000'}},
          }
        };

        var chart = new google.visualization.ColumnChart(
          document.getElementById('piechart4'));

        chart.draw(data, options);
      }
</script>