<div class="container new_container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading" style="color: white;background-color: #8e476c;border-color: #bce8f1;">
        <div class="panel-title">Nueva Actividad</div>
      </div>
      <div class="panel-body" style="color: white;background-color: #8e476c;border-color: #bce8f1;"> 
        <div  style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <%= form_with(model: actividad, local: true) do |form| %>
            <!--<% if actividad.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>
                  <ul>
                    <% actividad.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>-->
            <div class="form-group input-group">
              <div class="input-group-prepend" >
                <span class="input-group-text" style="padding-right: 10px;"> <i class="far fa-clipboard"></i> </span>
              </div>
              <%= form.text_field :nombre,:required => true, id: :actividad_nombre,style:"color:black;", placeholder:"Nombre de la actividad" %>
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" style="padding-right: 10px;"> <i class="fa fa-calendar"></i> </span>
              </div>
              <%= form.date_field :fecha,:required => true, id: :actividad_fecha, min: Date.today+2.days, style:"color:black; line-height: 24px;" %>
            </div>

            
            <% if !actividad.new_record? %>
              <div class="field">
                <%= form.label :estado %>
                <%= form.collection_select :estado, ['Pendiente', 'Aprobado', 'Rechazado', 'Cancelado'], :to_s, :to_s %>
              </div>
            <% end %>

              <div class="actions">
              <%= form.hidden_field :user_id, value: current_user.id %>
              <div class="btn new_btn2" style="padding: 0; margin: 0;">
                <%= form.submit %>
              </div>
              <%= link_to 'Volver', actividads_path,class:"btn new_btn2",style:"height:35px;" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

