<p id="notice"><%= notice %></p>
<table class="table" font-color="white">
	<thead style="color: #ffc000;">
		<tr>
			<td><strong>Nombre</strong></td>
			<td><strong>Fecha</strong></td>
			<td><strong>Estado</strong></td>
		</tr>
	</thead>
	<tbody style="color: #ffc000;">
		<tr>
			<td><%= @actividad.nombre %></td>
			<td><%= @actividad.fecha %></td>
			<td><%= @actividad.estado %></td>
		</tr>
	</tbody>
</table>


<%= link_to raw("<i class='material-icons'>edit</i>"), edit_actividad_path(@actividad),style:"color:#ffc000;" %> |
<%= link_to 'Volver', actividads_path,class:"btn  new_btn2" %>
