<div style="color: #ffc000; padding-right: 3%; padding-left: 3%;">

<h1>Donaciones</h1>

<div class="jumbotron" style="background: #9d5569;padding-right: 4%;padding-top: 2%;margin-top: 4%;">
<table class="table" style=" margin-left: 2%; margin-right: 5%;">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Monto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody style="border: 0 solid #ffc000">
    <% @Donacions.each do |Donacion| %>
      <tr>
        <td><%= Donacion.user.nombre_completo %></td>
        <td><%= Donacion.monto %></td>
        <td><%= link_to raw("<i class='material-icons'>remove_red_eye</i>"), Donacion,style:"color: #ffc000;" %></td>
        <!--<td><%= link_to raw("<i class='material-icons'>edit</i>"), edit_Donacion_path(Donacion),style:"color: #ffc000;" %></td>
        <td><%= link_to raw("<i class='material-icons'>delete</i>"), Donacion, method: :delete,style:"color: #ffc000;", data: { confirm: 'Seguro que desea eliminar?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Hacer una Donacion', new_Donacion_path,class: "btn new_btn2",style:"width: 95%; margin-left:2%; font-size: 1.5erm;" %>
</div>
